<div class="recipe-details" id="<%= dom_id recipe %>">
  <p class="recipe-detail">
    <strong class="label">Name:</strong>
    <%= recipe.name %>
  </p>

  <p class="recipe-detail">
    <strong class="label">Preparation Time:</strong>
    <%= recipe.preparationTime %>
  </p>

  <p class="recipe-detail">
    <strong class="label">Cooking Time:</strong>
    <%= recipe.cookingTime %>
  </p>

  <p class="recipe-detail">
    <strong class="label">Description:</strong>
    <%= recipe.description %>
  </p>

  <p class="recipe-detail">
    <strong class="label">Public:</strong>
    <%= recipe.public %>
  </p>

  <p class="recipe-detail">
    <strong class="label">User:</strong>
    <%= recipe.user_id %>
  </p>
</div>
