<div class="recipe-show-container">
  <h1 class="recipe-title"><%= @recipe.name %></h1>
  <div class="recipe-info">
    <p><strong>Preparation Time:</strong> <%= @recipe.preparationTime %> minutes</p> <br>
    <label class="form-check form-switch">
  <%= form_for @recipe, method: :patch, remote: true do |f| %>
   <span class="form-check-label">Public</span>
    <%= f.check_box :public, class: "form-check-input" %>
  <% end %>
</label>

    <p><strong>Cooking Time:</strong> <%= @recipe.cookingTime %> minutes</p>
  </div>
  <div class="recipe-actions">
    <%= link_to "Generate Shopping List", general_shopping_lists_path, class: "action-button generate-button" %>
    <%= link_to "Add Ingredient", class: "action-button add-ingredient" %>
  </div>
  <table class="recipe-foods-table">
    <thead>
      <tr>
        <th>Food Name</th>
        <th>Food Quantity</th>
        <th>Food Value</th>
        <th>Food Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @recipe.recipe_foods.each do |recipe_food| %>
        <tr>
          <td><%= recipe_food.food.name %></td>
          <td><%= recipe_food.quantity %> <%= recipe_food.food.measurementUnit %></td>
          <td>$<%= recipe_food.food.price * recipe_food.quantity %></td>
          <td>
            <%= link_to "Modify", edit_recipe_food_path(recipe_food), class: "food-action-link" %>
            <%= link_to "Remove", recipe_food_path(recipe_food), method: :delete, class: "food-action-link", data: { confirm: "Are you sure you want to remove this ingredient?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= link_to "Edit this recipe", edit_recipe_path(@recipe), class: "edit-button" %> |
<%= link_to "Back to recipes", recipes_path, class: "back-button" %>
