<div class="recipe-show-container">
  <h1 class="recipe-title"><%= @recipe.name %></h1>
  <div class="recipe-info">
    <div class="recipe-info-grp">
     <p><strong>Preparation Time:</strong> <%= @recipe.preparationTime %> minutes</p>
     <p><strong>Cooking Time:</strong> <%= @recipe.cookingTime %> minutes</p>
     <p>Steps to go...</p>
    </div>
    
    <label class="switch">
    <% if @recipe.public  %>
    <p> Public </p>
    <%= button_to("Make Private", class: "recipe-action-button") %>
     <% else %>
    <p> Private </p>
     <%= button_to("Make Public", class: "recipe-action-button") %>
     <% end %>

     <span class="slider round"></span>
    </label>

    <%# <%= button_to(@recipe.public ? "Public, Make Private" : "Make Public", class: "recipe-action-button") %> %>

  </div>
  <div class="recipe-actions">
    <%= link_to "Generate Shopping List", general_shopping_lists_path, class: "action-button generate-button" %>
    <%= link_to "Add Ingredient", class: "action-button add-ingredient-button" %>
  </div>
  <table class="recipe-foods-table">
    <thead>
      <tr>
        <th>Food Name</th>
        <th>Food Quantity</th>
        <th>Food Value</th>
        <th>Food Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @recipe.recipe_foods.each do |recipe_food| %>
        <tr>
          <td><%= recipe_food.food.name %></td>
          <td><%= recipe_food.quantity %> <%= recipe_food.food.measurementUnit %></td>
          <td>$<%= recipe_food.food.price * recipe_food.quantity %></td>
          <td>
            <%= link_to "Modify", edit_recipe_food_path(recipe_food), class: "food-action-link" %>
            <%= link_to "Remove", recipe_food_path(recipe_food), method: :delete, class: "food-action-link", data: { confirm: "Are you sure you want to remove this ingredient?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= link_to "Edit this recipe", edit_recipe_path(@recipe), class: "edit-button" %> |
<%= link_to "Back to recipes", recipes_path, class: "back-button" %>
