<p style="color: green"><%= notice %></p>
<div class='navigation'>
<%= link_to "Home", root_path %> 
<%= link_to "Foods", foods_path %>
<%= link_to "Recipes", recipes_path %>
<%= link_to "Sign Up", new_user_registration_path, class: "sign_up_button" %>
<%= link_to "Log In", new_user_session_path, class: "Login_button" %>
</div>
<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Show this user", user %>
    </p>
  <% end %>
</div>

<%= link_to "New user", new_user_path %>
