<%= form_with(model: recipe_food, url: recipe_recipe_foods_path(recipe_food.recipe), class: "form") do |form| %>
  <% if recipe_food.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(recipe_food.errors.count, "error") %> prohibited this recipe_food from being saved:</h2>

      <ul>
        <% recipe_food.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :quantity, class: "form-label" %>
    <%= form.number_field :quantity, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :recipe_id, class: "form-label" %>
    <%= form.text_field :recipe_id, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :food_id, class: "form-label" %>
    <%= form.text_field :food_id, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.submit "Create Recipe Food", class: "btn btn-primary" %>
  </div>
<% end %>